@use 'vars';

.post-type-archive-tribe_events {
	#header {
		background: #fff;
	}
}

#intention-events-listing {
	background: vars.$pageBg;
	padding: 150px 0 100px 0;
	.container {
		max-width: 1000px;
	}
	.intention-events-listing-event {
		background: #fff;
		margin-bottom: 30px;
		padding: 30px;
		position: relative;
		.intention-events-listing-image {
			min-height: 150px;
		}
		.intention-events-listing-title {
			background: rgba(0,0,0,0.5);
			color: #fff;
			padding: 20px;
			position: absolute;
				top: 50%;
				left: 50%;
			transform: translateX(-50%) translateY(-50%);
			width: 80%;
			h2, h3 {
				color: #fff;
				a {
					color: #fff;
				}
			}
			p {margin: 0;}
		}
		img {
			width: 100%;
		}
	}
}

#intention-events-single-event {
	background: vars.$pageBg;
	padding: 0 0 50px 0;
	.container {
		max-width: 1200px;
	}
	.event-banner {
		background: #222;
		color: #fff;
		font-size: 24px;
		margin-bottom: 40px;
		min-height: 400px;
		position: relative;
		text-align: center;
		h1,
		h2,
		h3,
		h4 {
			color: #fff;
		}
		h3 {
			width: 100%;
		}
		.tint {
			background: rgba(0, 0, 0, 0.5);
			display: block;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			z-index: 200;
		}
		.event-image {
			height: 400px;
			margin: 0;
			position: relative;
			z-index: 100;
			picture {
				display: flex;
				height: 100%;
				width: 100%;
			}
			img {
				height: 100%;
				max-width: 9999px;
				width: 100%;
				object-fit: cover;
			}
		}
		.inner {
			padding: 0 20px;
			position: absolute;
				top: 60%;
				left: 0;
			transform: translateY(-50%);
			width: 100%;
			z-index: 300;
		}
	}
	.intention-events-bread {
		ul {
			list-style: none;
			margin:0;
			li {
				display: inline-block;
				&:after {
					content: " > "
				}
				&:last-child:after {
					content: "";
				}
			}
		}	
	}
}

	@media only screen and (min-width: 1200px) {
		#intention-events-single-event {
			.event-banner {
				.event-image {
					height: auto;
					img {
						display: block;
						max-width: 100%;
						width: 100%;
					}
				}
			}
		}
	}

.intention-events-listing-navigation {
	display: table;
	padding: 30px 0;
	width: 100%;
	.page-numbers {
		display:none;
		&.next {
			display: inline-block;
			float: left;
		}
		&.prev {
			display: inline-block;
			float: right;
		}
	}
	&.future {
		.page-numbers {
			&.next {
				float: right;
			}
			&.prev {
				float: left;
			}
		}
	}
}

/* 
	Briefing
*/

.tcb_briefing {
	background: #fff;
	margin-bottom: 30px;
	padding: 40px;
	.briefing-meta {
		padding-bottom: 15px;
		.column {
			padding-right: 20px;
		}
		.column:first-child {
			margin-left:0;
		}
	}
	.missionRow {
		border-bottom: 1px solid #ccc;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
	h3 {
		padding-top: 15px;
		margin-bottom: 10px;
	}
}



/*
	Attendance panel
*/

#attendanceRoster {
	background: #fff;
	margin-bottom: 30px;
	padding: 30px;
	transition: all 0.2s linear;
	a,
	input,
	img {
		transition: all 0.2s linear;
	}
	.attendanceCol {
		border: 1px solid #ccc;
		margin-bottom: 20px;
		padding: 15px 15px 80px 15px;
		position: relative;
		&:nth-child(2) {
			border-left: 0;
			border-right: 0;
		}
		form {
			margin: 0;
			position: absolute;
				bottom: 10px;
				left: 10px;
			width: 100%;
			input {
				padding: 10px;
			}
		}
	}
	ul {
		list-style: none;
		margin: 0 0 30px 0;
		li {
			height: 20px;
			line-height: 20px;
			margin-bottom: 10px;
			a {
				display: inline-block;
				line-height: 20px;
			}
		}
	}
	img {
		border-radius: 100%;
		height: 20px;
		margin-right: 3px;
		vertical-align: top;
		width: 20px;
	}
	input[type="submit"] {
		
	}
	.spinner {
			-webkit-animation: fa-spin 1s infinite linear;
		animation: fa-spin 1s infinite linear;
		background: url(images/icon-refresh5.svg); 
		background-repeat: no-repeat;
		background-position: center center;
		background-size: auto 100%;
		display: none;
		height: 25px;
		position: absolute;
			bottom: 10px;
			left: 40px;
		width: 25px;
		&.reg {
			left: 30px;
		}
	}
	.loading {
		position: relative;
		.spinner {
			display: block;
		}
		input[type="submit"] {
			background: vars.$colour-link;
			color: vars.$colour-link;
		}
	}
}

	@media only screen and (min-width: 1200px) {
		#attendanceRoster {
			float: right;
			margin-left: 1%;
			padding: 40px;
			width: 59%;
			.wrap {
				display: flex;
			}
			.attendanceCol {
				flex: 1 1;
				margin: 0;
			}
		}
	}

/* 
	Slotting tool
*/

#slotTool {
	background: #fff;
	float: left;
	margin-right: 1%;
	margin-bottom: 30px;
	padding: 40px;
	width: 39%;
	
	.slotToolSlot {
		height: 30px;
		line-height: 30px;
		margin-bottom: 10px;
		position: relative;
		text-align: left;
		form {
			display: inline-block;
			height: 30px;
		}
		input[type="submit"].slotIcon {
			background: #fff;
			background-size: cover;
			border: 2px solid #000;
			border-radius: 100%;
			box-sizing: border-box;
			cursor: pointer;
			display: inline-block;
			font-size: 0;
			height: 30px;
			margin-right: 10px;
			padding: 0;
			position: relative;
			vertical-align: top;
			width: 30px;
			&.disabled {
				cursor: not-allowed;
			}
		}
		.slotToolSlotDummyImage {
			background: #fff;
			background-size: cover;
			border: 2px solid #000;
			border-radius: 100%;
			box-sizing: border-box;
			display: inline-block;
			font-size: 0;
			height: 30px;
			margin-right: 10px;
			padding: 0;
			position: relative;
			vertical-align: top;
			width: 30px;
		}
		&.loading {
			.slotForm {
				pointer-events: none;
				position: relative;
			}
			&:after {
					-webkit-animation: fa-spin 1s infinite linear;
				animation: fa-spin 1s infinite linear;
				background: url(images/icon-refresh4.svg); 
				background-repeat: no-repeat;
				background-position: center center;
				background-size: auto 100%;
				content: "";
				height: 25px;
				position: absolute;
					top: 3px;
					left: 3px;
				width: 25px;
			}
		}
		
		&.slotIconCanDelete {
			position: relative;
			z-index: 400;
			&:before {
				background: #fff url(images/icon-minus.svg);
				background-size: 100%;
				border: 1px solid #fff;
				border-radius: 40px;
				content: "";
				height: 15px;
				pointer-events: none;
				position: absolute;
					top: -4px;
					left: -4px;
				width: 15px;
				z-index: 500;
			}
		}
	}
	.unit {
		border: 1px solid #ccc;
		margin-bottom: 30px;
		padding: 20px 20px 15px 20px;
	}
}


#slotToolButtons {
	clear: both;
	padding: 30px;
	text-align: center;
	a {
		margin: 0 10px;
	}
	br {
		display: none;
	}
}
